@media only screen and (min-width: 545px) {
  .heading-secondary {
    font-size: 4.5rem;
    margin-block-end: 6.4rem;
  }

  /* ###################
        HOW IT WORKS
    ###################
  */
  .steps__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .step__img-container:nth-child(1) {
    grid-column: 2/ 3;
    grid-row: 1/ 2;
  }

  .step__img-container:nth-child(5) {
    grid-column: 2/ 3;
    grid-row: 3/ 4;
  }

  /* ###################
        MEAL
    ###################
  */
  .meal__container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ###################
        TESTIMONIALS
    ###################
  */
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__container {
    grid-template-columns: repeat(6, 1fr);
  }

  /* ###################
        PRICING
    ###################
  */
  .plan {
    padding: 4.8rem;
  }

  .plan--starter {
    justify-self: end;
  }

  .plan--complete {
    justify-self: start;
  }
}

@media only screen and (min-width: 706px) {
  /* ###################
        PRICING
    ###################
  */
  .section-pricing {
    padding-inline: 5.6rem;
  }

  .plan {
    max-width: 75%;
  }

}

@media only screen and (min-width: 940px) {
  html {
    font-size: 56.5%;
  }

  /* ###################
        HEADER
    ###################
  */
  .header {
    height: 9.6rem;
  }

  .header__navigation {
    position: static;
    min-height: auto;
    width: auto;
    background-color: transparent;
    transform: translateX(0%);
  }

  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  .header__link:link,
  .header__link:visited {
    font-size: 1.8rem;
    color: #333;
    transition: all 0.4s;
  }

  .header__cta:link,
  .header__cta:visited {
    padding: 1rem 2.5rem;
    border-radius: 11px;
    background-color: #e67e22;
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  /* ###################
        HERO
    ###################
*/
  .hero {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }

  .hero__img {
    width: 100%;
  }

  /* ###################
        FEATURED
    ###################
  */
  .featured__logos {
    gap: 5rem;
    margin-block-start: 3.2rem;
  }

  .featured__logo {
    height: 3.2rem;
  }

  /* ###################
        HOW IT WORKS
    ###################
  */
  .steps__container {
    margin-block-start: 9.6rem;
  }

  /* ###################
        MEALS
    ###################
  */
  .meal__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .diets {
    grid-column: 3 / -1;
    justify-self: start;
  }

  /* ###################
        TESTIMONIALS
    ###################
  */
  .section-testimonials {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.6rem 0;
  }

  .testimonials__container {
    margin: auto 0;
    padding: 4.8rem;
  }

  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ######### BUTTONS ######### */
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.5rem 2.5rem;
  }
}

@media only screen and (min-width: 1300px) {
  html {
    font-size: 62.5%;
  }

  .heading-primary {
    font-size: 5rem;
  }

  .heading-secondary {
    font-size: 4.5rem;
  }

  .header {
    padding-inline: 5rem;
  }

  .section-hero {
    padding: 6.4rem 0 9.6rem;
  }

  .hero {
    max-width: 130rem;
  }

  /* ###################
        PRICING
    ###################
  */
  .plan {
    max-width: 100%;
  }

  .section-pricing {
    padding-inline: 9.6rem;
  }
}
