/* ###################
        HEADER
    ###################
*/
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding-inline: 5rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.2rem;
}

.header__list {
  display: flex;
  gap: 5rem;
}

.header__link:link,
.header__link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.4s;
}

.header__link:hover,
.header__link:active {
  color: #e67e22;
}

.header__cta:link,
.header__cta:visited {
  padding: 1rem 2.4rem;
  border-radius: 11px;
  background-color: #e67e22;
  color: #fff;
}

.header__cta:hover,
.header__cta:active {
  background-color: #cf711f;
}

.hamburger {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* ###################
        HERO
    ###################
*/
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding-inline: 3.2rem;
}

.hero__text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-block: 4.8rem;
}

.hero__delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-block-start: 7.2rem;
}

.hero__delivered-imgs {
  display: flex;
}

.hero__delivered-imgs img {
  width: 4.5rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-inline-end: -1.6rem;
}

.hero__delivered-imgs img:last-child {
  margin-inline-end: 0;
}

.hero__delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__delivered-text strong {
  color: #e67e22;
}

.hero__img {
  width: 100%;
}

/* ###################
        FEATURED
    ###################
*/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured__logos {
  display: flex;
  justify-content: space-around;
}

.featured__logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* ###################
        HOW IT WORKS
    ###################
*/
.section-how {
  padding: 9.6rem 0;
}

.steps__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 9.6rem;
}

.step__number {
  font-size: 9.6rem;
  font-weight: 600;
  margin-block-end: 1.6rem;
  color: #ddd;
}

.step__title {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-block-end: 3.2rem;
  color: #333;
}

.step__text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step__img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__img {
  max-width: 35%;
}

.step__img-container:before,
.step__img-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step__img-container:before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step__img-container:after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

/* ###################
       MEALS
    ###################
*/
.section-meals {
  padding: 9.6rem 0;
}

.meal__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 6.4rem;
  row-gap: 4.8rem;
}

.meal {
  border-radius: 11px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-4%);
}

.meal__img {
  width: 100%;
  border-start-start-radius: 11px;
  border-start-end-radius: 11px;
}

.meal__content {
  padding: 2.4rem 3.2rem;
}

.tag {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-end: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 11px;
  color: #333;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-block-end: 2.4rem;
  color: #333;
}

.meal__attributes {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal__attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.meal__icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.recipes {
  margin-block: 4.8rem 3.2rem;
}

/* ###################
    TESTIMONIALS
   ###################
*/
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: #fdf2e9;
  align-items: center;
}

.testimonials__container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  row-gap: 4.8rem;
}

.testimonial__img {
  height: 7rem;
  border-radius: 50%;
}

.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-block: 1.6rem;
}

.testimonial__name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery__item {
  overflow: hidden;
}

.gallery__img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery__img:hover {
  transform: scale(1.1);
}
/* ###################
    PRICING
   ###################
*/
.section-pricing {
  padding: 9.6rem;
}

.plan__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 6.4rem;
  row-gap: 4.8rem;
}

.plan {
  position: relative;
  width: 70%;
  padding: 3.2rem 4.8rem 4.8rem;
  border-radius: 11px;
}

.plan--starter {
  justify-self: end;
  border: 1px solid #fdf2e9;
}

.plan--complete {
  background-color: #fdf2e9;
  overflow: hidden;
}

.plan--complete:before {
  content: "Best value";
  position: absolute;
  top: 38px;
  right: -41px;
  transform: rotate(45deg);
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.8rem 5rem;
  background-color: #ffd43b;
  color: #333;
}

.plan__header {
  text-align: center;
}

.plan__name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-end: 3.2rem;
  color: #cf711f;
}

.plan__price {
  font-size: 5.6rem;
  font-weight: 600;
  margin-block-end: 2.4rem;
  color: #333;
}

.plan__price span {
  font-size: 2.4rem;
  padding-inline-end: 0.5rem;
}

.plan__text {
  font-size: 1.6rem;
  margin-block-end: 4.8rem;
}

.plan__signup {
  text-align: center;
  margin-block-start: 4.8rem;
}

.plan__details {
  font-size: 1.6rem;
  text-align: center;
  margin-block-start: 4.8rem;
}

/* ###################
    FEATURES
   ###################
*/
.section-features {
  padding: 1.6rem 0 3.2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

.feature__icon {
  font-size: 3rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  color: #e67e22;
}

.feature__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-block: 2.4rem 1.6rem;
  color: #333;
}

.feature__text {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* ###################
    CTA
   ###################
*/
.section-cta {
  padding: 9.6rem 0;
  border-bottom: 1px solid #dedede;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.cta__text-container {
  padding: 6.4rem 6.4rem 4.8rem;
  color: #45260a;
}

.cta .heading-secondary {
  font-size: 4.5rem;
  margin-block-end: 3.2rem;
  color: inherit;
}

.cta__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-block-end: 4.8rem;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}

.cta__form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-block-end: 1rem;
}

.cta__form input,
.cta__form select {
  width: 100%;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.6rem;
  border-radius: 11px;
  border: none;
  background-color: linear-gradient(to right bottom, #eb984e, #e67e22);
  color: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta__form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta__img-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

/* ###################
    FOOTER
   ###################
*/
.footer,
a {
  color: #767676;
}

.grid--footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  padding: 9.6rem 3.2rem;
}

.socials {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
  margin-block: 2.4rem 6.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
}

.footer__title {
  font-size: 2rem;
  font-weight: 600;
  margin-block-end: 3.2rem;
  color: #555;
}

.footer__address {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-block-end: 2.4rem;
  color: #555;
}

.footer__contact {
  display: inline-block;
  font-size: 1.4rem;
  margin-block-start: 1rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.6rem;
}